logs
project/project
project/target
target
**/project/project
**/project/target
**/target
tmp
.history
dist
/.idea
**/.idea
**/project/play-fork-run.sbt
**/project/sbt-ui.sbt
/*.iml
/out
/.idea_modules
/.classpath
/.project
/.settings
metastore_db/**
/*.log